<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        section{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
        }
    </style>
</head>
<body>
    <h1>검색 내용은 {{text}} 입니다.</h1>
    <h1>검색 조회수는 {{resultNum}} 입니다.</h1>
    <a href="/export?work={{searchText}}">CSV로 변환하기</a>

<section>
        <h5>제목</h5>
        <h5>회사명</h5>
        <h5>위치</h5>
        <h5>링크</h5>
        {% for job in jobs  %}
            <span>{{job.title}}</span>
            <span>{{job.company}}</span>
            <span>{{job.location}}</span>
            <a href="{{job.link}}" target="_blank">지원하기</a>
        {% endfor %}
</section>

</body>
</html>